body {
    margin: 0;
    font-family: 'Arial', sans-serif;   
    background: url('img/japanese_cherry_blossom.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    text-align: center;
    padding: 20px; /* Reduce el relleno para dispositivos móviles */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px; 
    margin: 10px; 
}

header h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

header h2 {
    font-size: 1.2em; /* Reducir el tamaño del encabezado secundario */
    margin-bottom: 1em;
}

.info {
    text-align: left;
    max-width: 90%; /* Reducir el ancho máximo */
    margin: 0 auto;
}

.info p, .info ul {
    font-size: 1em; /* Reducir el tamaño de la fuente */
    margin: 15px 0; /* Ajustar el margen */
}

.info ul {
    padding-left: 15px; /* Ajustar el relleno izquierdo */
}

.info li {
    margin: 10px 0;
}

button {
    font-size: 1em; /* Reducir el tamaño de la fuente */
    padding: 8px 15px; /* Reducir el relleno */
    margin-top: 15px;
    border-radius: 15px; /* Reducir el radio de borde */
    transition: background-color 0.3s;
    background-color: #ff6600;
}

button:hover {
    background-color: #ff3300;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }
    
    header h2 {
        font-size: 1em;
    }
    
    .info {
        max-width: 100%;
    }
}
